:root{
    --black: black;
    --white: #ffff;
    --gray: rgb(122, 122, 122);
    --blue: rgb(60, 60, 192);
}

*{
    margin: 0;
    padding: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.header{
    display: flex;
    align-self: center;
    justify-content: space-evenly;

    position: fixed;
    width: 100%;
    z-index: 1;
    background: var(--white);

    margin-bottom: 10px;
    padding: 1rem 2rem;
    box-shadow: 0 0 5px 0 rgb(104, 104, 104);

    font-family: 'Raleway', sans-serif;
}

.menu-drop-down{
    display: none;
}

.menu{
    display: flex;
    align-items: center;
}

.menu-principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.menu li{
        /* up right down left*/
    padding: 0 3rem 0 1.5rem;
}

.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--black);
}

section{
    position: relative;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    overflow: hidden;

    top: 5rem;

    box-shadow: 0 0 5px 0 rgb(104, 104, 104);
    border-radius: 10px;
}

.principal{
    position: relative;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    background: linear-gradient( #013375ef, rgb(94, 94, 243));
}

.curriculo-img img{
    overflow: hidden;
 
    width: 300px;
    left: 60px;

    margin: 1.5rem 0;
}

.info-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 4rem;

    gap: 1rem;
    color: var(--white);
}

.info-principal img{
    width: 30px;
}

.info-principal h1, h2{
    text-align: center;
}

.info-principal h1{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.info-principal h2{
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
}

.info-principal ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

.down-side{
    width: 90%;
    margin: 50px auto;

    gap: 3rem;
    display: flex;
    justify-content: space-evenly;
}

.resumo-down-side{
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    gap: 1rem;
}

.resumo-down-side h4{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.resumo-down-side p{
    font-family: Arial;
}

.info-down-side{
    width: 60%;
}

.down-side-container{
    display: flex;
    justify-content: space-around;
}

.down-side-container li{
    font-family: Arial;
}

.down-side-container ul{
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    gap: 1rem;
}

footer{
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--gray);
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: 15px;

    margin-bottom: 1rem;
    margin-top: 6.5rem;
}

footer a{
    text-decoration: none;
    color: var(--gray);
    font-family: 'Roboto Mono', monospace;
}

footer a:hover{
    color:var(--black);
}

@media (max-width: 980px){
    
    section{
        width: 90%;
        top: 5rem;
    }

    .menu-drop-down{
        background-image: url('./img/menu-drop-down.svg');
        background-size: cover;

        background-repeat: no-repeat;
        display: block;
        padding: 16px;
        cursor: pointer;
    }

    .menu-principal{
        display: none;
        position: absolute;

        background-color: #153c91da;
        opacity: 90%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 1rem 1rem;
        margin-right: 2rem;

        right: 7rem;
        top: 3rem;

        list-style: none;
    }

    .menu-principal .item{
        color: var(--white);
    }

    .menu:hover .menu-principal{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .principal{
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    .info-principal{
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0.5rem 0;
    }

    .info-principal ul img{
        width: 25px;
    }

    .down-side{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .resumo-down-side{
        width: 80%;
        margin: auto;
    }

    .info-down-side{
        width: 80%;
        margin: auto;
    }

    .down-side-container .pergunta-down-side{
        list-style:circle;
    }
}